body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.cuerpo {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.listaBotones {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.listaBotones.active {
    display: none;
}

label {
    font-style: oblique;
}

.formulario {
    display: none;
    flex-direction: column;
    max-width: 700px;
}

.formulario.active {
    display: flex;
    justify-content: flex-end;
    margin: 25px 25px;
}

.borrarBotonX {
    display: none;
}

.borrarBotonX.active {
    color: red;
    font-size: 20px;
}


.confirmarBoton {
    background-color: lightseagreen;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    max-width: 200px;
    height: 40px;
    border: none;
    margin-top: 10px;
}

textarea{
    font-size: 25px;
    height: 100px;
    margin-top: 10px;
}

.botonMas {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 70px;
}

.borrar {
    bottom: 40px;
    right: 140px;
    font-size: 50px;
}

.botonGeneral {
    position: fixed;
    z-index: 1;
    height: 80px;
    width: 80px;
    text-align: center;
    justify-content: center;
    background-color: lightseagreen;
    color: white;
    border-radius: 50%;
    border: none;
    font-weight: 600;
    line-height: 38px;
    padding: 0px;
    margin: 0px;
}

.botonListado {
    width: 350px;
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
}

