body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}

.listaBotones {
    display: block;
    display: flex;
    flex-direction: column;
}

.listaBotones.active {
    display: none;
}

label {
    font-style: oblique;
}

.cuerpo {
    display: flex;
    flex-direction: column;
}

.formulario {
    display: none;
    display: flex;
    max-width: 400px;
    flex-direction: column;
}

.confirmarBoton {
    background-color: lightseagreen;
    color: white;
    font-style: oblique;
}

.formulario.active {
    display: block;
}

textarea{
    font-size: 25px;
}

.botonMas {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 70px;
}

.borrar {

    bottom: 40px;
    right: 140px;
    font-size: 50px;
}

.botonGeneral {
    position: fixed;
    z-index: 1;
    height: 80px;
    width: 80px;
    text-align: center;
    justify-content: center;
    background-color: lightseagreen;
    color: white;
    border-radius: 50%;
    border-color: lightseagreen;
    padding: 0px;
    margin: 0px;
}